---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCard from "../../components/blog/BlogPostCard.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout title="Blog" sideBarActiveItemId="blog">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Blog</div>
    </div>

    {
        allPosts.map((post) => (
            <div>
                <BlogPostCard
                    title={post.frontmatter.title}
                    featuredImage={post.frontmatter.featuredImage}
                    description={post.frontmatter.description}
                    date={post.frontmatter.date}
                    tags={post.frontmatter.tags}
                    url={post.url}
                />
                <div class="divider my-0" />
            </div>
        ))
    }
</BaseLayout>
